audio[id*="_player"] {
    display:none;
}
.playbutton {
    cursor:pointer;
    display: inline;
    height: 1.6ex;
}

a.Sentence{
 text-decoration: none;
 display: inline;
 color:  DarkRed;
}

a.Wordform{
   color:  midnightblue;
}

a.Morph{
  color: darkgreen;
}

a.Morpheme{
  color: darkgreen;
}

a.Gloss{
  color: Indigo;
}

a.POS{
  color: DarkGray;
}

a.Stem{
  color: DarkGoldenRod;
}

a.Lexeme{
  color: DarkGoldenRod;
  font-variant: small-caps;
}